*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    padding-left: 80px;
    padding-top: 80px;
}
h1{
    font-size: 50px;
    padding-left: 8px;
    border-left: 5px solid;
}
.purple-color{
    color: purple;
}
.color-a{
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding:10px;
    border-radius: 10px;
}
section{
    display: flex;
}
.half{
    width: 50%;
}
.half img{
    width: 70%;
    border-radius: 600px;
}