*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    padding-left: 80px;
    padding-top: 80px;
}
h1{
    font-size: 50px;
    padding-left: 8px;
    border-left: 5px solid;
}
.purple-color{
    color: purple;
}
.color-a{
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding:10px;
    border-radius: 10px;
}
section{
    display: flex;
}
.half{
    width: 50%;
}
.half img{
    width: 70%;
    border-radius: 600px;
}
h2{
    text-align: center;
    font-size: 50px;
    padding-top: 35px;
}
span{
    color: purple;
}
.card{
    width: 350px;
    margin: 25px;
    background-color: honeydew;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px gray;
    border-radius: 30px;
}
.img-style{
    width: 50%;
}
.card-container{
    box-sizing: border-box;
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
}
.card-body{
    padding: 5px;
}
.card-title{
    font-size: 2rem;
    font-weight: bold;
}
.card-desk{
    text-align: center;
}
#color1{
    background-color: rgb(250, 217, 250);
}
#card2{
    background-color: rgb(178, 178, 226);
}
h3{
    font-size: 50px;
}
.top-banner{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 500px;
}
.middle-banner{
    background-image: url(images/shape-7.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 700px;
}
h4{
    font-size: 50px;
    text-align: center;
    padding-top: 150px;

}
.bottom-banner{
    background-image: url(images/shape-2.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 500px;
}

footer h5{
    font-size: 30px;
    font-style: italic;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    margin: 0;
    
    
}